.signup-container{
    justify-content: center;
    width: 100%;
    min-height: 90dvh;
    padding: 50px;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.signup-form{
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    gap: 20px;
}

.signup-button{
    width: 100%;
    border: none;
    background-color: #000;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

.signup-button:hover{
    opacity: 80%;
}

.signup-form-forgotpassword{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.signup-form-forgotpassword:hover{
    text-decoration: underline;
}