.profile-detail-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 10px 0 0 15%;
    position: relative;
}

.profile-detail-avatar{
    width: 200px;
    height: 200px;
    display: flex;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 50%;
    position: relative;
    transform: translateY(-50%);
    border: 2px solid #000;
    background-color: #FFF;
}
  
.profile-details-avatar-image {
    object-fit: cover;
    border-radius: 50%;
}

.profile-detail-avatar-highlight {
    position: absolute;
    bottom: -30px;
    right: -30px;
    width: 100px;
    height: 100px;
}

.profile-detail-userdata{
    display: flex;
    flex-direction: column;
    padding: 0 20px 10px 30px;
}

.profile-detail-userdata-name{
    font-weight: bold;
    font-size: 26px;
}

.profile-detail-userdata-rating{
    gap: 5px;
}

.profile-detail-userdata-skills{
    font-size: 16px;
    color: #000;
    margin: 10px 0;
    line-height: 1.5;
}

.profile-detail-userdata-skills ul{
    list-style: none;
}

.profile-detail-bio{
    max-width: 80%;
    font-size: 14px;
    color: #000;
    margin-top: 20px;
    line-height: 1.6;
}

.profile-detail-options{
    padding: 0 10px;
    gap: 10px;
}

.profile-detail-options span{
    color: #000;
    font-size: 30px;
    cursor: pointer;
    transition: color 0.2s ease;
}

.profile-detail-options span:hover{
    color: #555;
}

.chat-modal-header{
    font-weight: bold;
    font-size: 24px;
}