.chevron::before {
	display: flex;
	content: '';
	border-style: solid;
	vertical-align: top;
	border-width: var(--border-width);
	width: var(--size);
	height: var(--size);
	transform: rotate(var(--rotate));
	border-color: var(--color);
	transition: border-color 0.2s ease;
}