.container-reviews {
	display: flex;
	gap: 30px;
	padding: 20px;
	justify-content: center;
	width: 100%;
	font-family: Arial, sans-serif;
}

.container-rating {
	width: 50%;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 7%;
}

.rating-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.rating-item {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 16px;
}

.star {
	color: black;
	font-size: 18px;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;
	padding: 20px;
	font-family: Arial, sans-serif;
}

.card-reviews {
	padding: 20px;
	width: 60%;
	border: 1px solid #ddd;
	border-radius: 60px;
	box-shadow: 0px 2px 6px rgba(121, 113, 113, 0.5) inset;
	border: 2px solid rgba(200, 200, 200, 0.2);
	text-align: center;
}

.price {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
	display: flex;
	align-items: baseline;
	justify-content: center;
}

.unit {
	color: gray;
	font-size: 14px;
}

.info-box {
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	padding: 10px;
	border-radius: 12px;
	margin-top: 10px;
	font-size: 14px;
}

.verified {
	color: green;
	font-weight: bold;
}

.negotiation {
	padding: 12px;
	text-align: center;
	border-radius: 12px;
	margin-top: 10px;
	font-weight: bold;
}

.contact-button {
	width: 60%;
	background: #21251f;
	color: white;
	padding: 20px;
	border-radius: 12px;
	margin-top: 10px;
	cursor: pointer;
	border: none;
	font-size: 16px;
	font-weight: bold;
	transition: 0.3s;
}
.contact-button:hover {
	transform: scale(1.02);
}

.super-sindico {
	display: flex;
	align-items: center;
	gap: 10px;
	padding: 20px;
	border-radius: 30px;
	border: 1px solid #ddd;
	width: 60%;
	text-align: left;
	margin-top: 1rem;
}

.super-sindico .icon {
	width: 55px;
	height: 55px;
}

.highlight {
	color: #333;
	font-weight: bold;
}

.card-container {
	width: 50%;
	display: flex;
	flex-direction: column;
}

.verificado-img {
	width: 20px;
}

.title {
	margin-bottom: 1rem;
}
