.reviews-container {
	padding: 20px;
	gap: 20px;
	font-family: Arial, sans-serif;
	text-align: center;
	width: 100%;
}

.reviews-title{
	font-weight: bold;
	font-size: 24px;
}

/* .reviews-header {
	margin-bottom: 20px;
}

.rating-score {
	font-size: 36px;
	font-weight: bold;
	display: flex;
	align-items: center;
	gap: 8px;
}

.reviews-header h3 {
	font-size: 20px;
	font-weight: bold;
	margin-top: 5px;
}

.reviews-header p {
	color: #666;
	font-size: 14px;
} */

.reviews-grid {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 400px));
	gap: 20px;
	width: 100%;
	padding: 0 100px;
}

.review-card {
	display: flex;
	align-items: flex-start;
	gap: 10px;
	background: #fff;
	padding: 15px;
	border-radius: 8px;
	box-shadow: 0 0 5px 2px #0000001a;
}

.review-image {
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.review-content {
	text-align: left;
	flex: 1;
}

.review-content h4 {
	margin: 0;
	font-size: 16px;
	font-weight: bold;
}

.review-location {
	color: #888;
	font-size: 12px;
	margin-top: 2px;
}

.review-rating {
	display: flex;
	align-items: center;
	gap: 5px;
	margin-top: 5px;
}

.review-date {
	color: #000;
	font-size: 14px;
}

.review-text {
	font-size: 14px;
	color: #000;
	margin-top: 5px;
}

.reviews-show-more-button {
	margin-top: 20px;
	padding: 10px 20px;
	background: black;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

.reviews-show-more-button:hover {
	background: #333;
}
