.custom-text-input,
.custom-check-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.custom-text-input-field,
.custom-check-input-field {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
}

.custom-text-input-field::placeholder {
    color: #000;
    opacity: 0.4;
}

.custom-text-input-error,
.custom-check-input-error {
    font-size: 14px;
    color: red;
}

.custom-check-input-row {
    display: flex;
    gap: 10px;
}

.custom-check-input-field {
    width: 20px;
    accent-color: #000;
    cursor: pointer;
}

.custom-check-input-label a {
    text-decoration: none;
    color: #272bff;
}

.custom-check-input-label a:hover {
    text-decoration: underline;
}

.custom-doc-input {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
}

.custom-doc-input-row {
    display: flex;
    gap: 10px;
}

.custom-doc-input-select {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    background: white;
}

.custom-doc-input-field {
    border: 1px solid #000;
    border-radius: 5px;
    padding: 10px;
    flex-grow: 1;
}

.custom-doc-input-field::placeholder {
    color: #000;
    opacity: 0.4;
}

.custom-doc-input-error {
    font-size: 14px;
    color: red;
}