.mainheader-container{
    width: 100%;
    height: 80px;
    background-color: transparent;
    display: flex;
    flex-direction: row;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.mainheader-contents{
    width: 100%;
    height: 100%;
    max-width: 1920px;
    max-height: 80px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 0 2vw;
    box-sizing: border-box;
}

.mainheader-logo{
    height: 70%;
}

.mainheader-option-container {
    display: flex;
    gap: 10px;
    align-items: center;
}

.mainheader-item {
    color: #000;
    font-size: 1rem;
    cursor: pointer;
    position: relative;
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
    text-align: center;
}

.mainheader-item:hover {
    background-color: #363636;
    color: #FFF;
}

.mainheader-dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    overflow: hidden;
    z-index: 10;
}

.mainheader-dropdown.show {
    display: block;
}

.mainheader-dropdown-item {
    padding: 10px 15px;
    color: #333;
    cursor: pointer;
    white-space: nowrap;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.mainheader-dropdown-item:hover {
    background-color: #f0f0f0;
    color: #282c34;
}

.mainheader-account-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: transparent;
    height: 100%;
    justify-content: center;
}

.mainheader-account-container button{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    text-align: center;
}

.mainheader-account-sign{
    background-color: transparent;
}

.mainheader-account-sign:hover{
    border: 1px solid #000
}

.mainheader-account-log{
    background-color: #000;
    color: #fff;
}