.custom_carousel-container {
	width: 100%;
	padding: 10px 10%;
	gap: 10px;
	display: flex;
	flex-direction: column;
}

.custom_carousel-title{
	margin-left: 15px;
	font-size: 30px;
	font-weight: bold;
}

.custom_carousel-wrapper{
	position: relative;
	overflow: visible;
	flex-wrap: nowrap;
	width: 100%;
}

.custom_carousel-button{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	background-color: #00000033;
	border-radius: 50%;
	border: none;
	z-index: 10;
	font-size: 18px;
	width: 40px;
	height: 40px;
	flex-grow: 0;
	flex-shrink: 0;
	cursor: pointer;
	transition: all 0.2s ease;
}

.custom_carousel-button:hover{
	transform: scale(1.1);
	background-color: #00000066;
}

.custom_carousel-button:active{
	transform: scale(1);
}

.custom_carousel-button.left{
	left: 0;
	translate: -120% -70%;
}

.custom_carousel-button.right{
	right: 0;
	translate: 120% -70%;
}

.custom_carousel-items{
	width: 100%;
	padding: 15px;
	justify-items: flex-start;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: visible;
	gap: 10px;
}

.custom_carousel-items::-webkit-scrollbar{
	display: none;
}

.custom_carousel-items{
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.custom_carousel-item{
	transform: scale(0.95);
	flex: 0 0 calc(100% / 5);
	gap: 10px;
	transition: transform 0.2s ease;
	cursor: pointer;
	margin-left: -10px;
}

.custom_carousel-item:hover {
	transform: scale(1);
}

.custom_carousel-item img{
	width: 100%;
	height: 100%;
	box-shadow: 0 0 5px 1px #94949465;
	border-radius: 10px;
}

.custom_carousel-item span{
	font-size: 14px;
	font-weight: 600;
	color: #000;
	width: 100%;
	text-align: center;
}