@font-face {
  font-family: 'LexendExa-Regular';
  src: url('./assets/fonts/LexendExa-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: LexendExa-Regular, Arial, sans-serif;
}

*::selection {
  color: #FFF;
  background: #000;
}

html{  
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  font-size: 16px;
}

body {
  width: 100%;
  max-width: 1920px;
  overflow-x: hidden;
}

.clickable{
  transition: transform ease 0.2s;
  cursor: pointer;
}

.clickable:hover{
  transform: scale(1.05);
}

.clickable:active{
  transform: scale(0.95);
}