@font-face {
  font-family: 'LexendExa-Regular';
  src: url('./assets/fonts/LexendExa-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: LexendExa-Regular, Arial, sans-serif;
}

*::selection {
  color: #FFF;
  background: #000;
}

html{  
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100dvh;
  width: 100dvw;
  font-size: 16px;
}

body {
  width: 100%;
  min-width: fit-content;
  max-width: 1920px;
  overflow-x: hidden;
}

.clickable{
  transition: transform ease 0.2s;
  cursor: pointer;
}

.clickable:hover{
  transform: scale(1.05);
}

.clickable:active{
  transform: scale(0.95);
}

.row-centered{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.column-centered{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-icon-full-text-input img{
  align-self: flex-start;
  height: 100%;
}

.left-icon-full-text-input span{
  width: 100%;
  text-align: center;
}

.shadow-default{
  box-shadow: 0 0 10px 5px #94949454;
}

.no-padding{
  padding: 0 !important;
}

.custom-scroll::-webkit-scrollbar {
  width: 10px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #bdbdbd;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
  border: 2px solid transparent;
  background-clip: padding-box;
  transition: all ease 0.2s;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  border: 15px;
}