.login-container{
    justify-content: center;
    width: 100%;
    height: 90dvh;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.75);
}

.login-form{
    justify-content: space-evenly;
    width: 100%;
    max-width: 500px;
    padding: 10px 20px;
    gap: 20px;
}

.login-button{
    width: 100%;
    border: none;
    background-color: #000;
    color: #FFF;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.2s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-button:hover{
    opacity: 80%;
}

.login-form-forgotpassword{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.login-form-forgotpassword:hover{
    text-decoration: underline;
}

.login-account-successfull{
    text-align: center;
    font-size: 20px;
    color: green;
    line-height: 18px;
    padding: 20px 0;
}

.login-form-error_message{
    text-align: center;
    color: red;
}